:root { 
--indigo_A200_00:#4d68ff00; 
--gray_50_01:#f4f6ff; 
--deep_purple_A700_3d:#2200f73d; 
--gray_50_02:#f6f7fb; 
--light_blue_300:#4dc0f4; 
--green_A700_02:#02c650; 
--green_A700_01:#17d64c; 
--red_A100_01:#ff737d; 
--blue_300_01:#659aff; 
--red_400:#d14154; 
--green_700:#3f9629; 
--deep_purple_A700_3a:#3200ff3a; 
--pink_A100:#ff7ad1; 
--indigo_A200_7f:#4d68ff7f; 
--black_900_01:#05050f; 
--black_900_00:#00010f00; 
--deep_purple_A200_cc_01:#695dfbcc; 
--teal_A100_0c:#94ffe90c; 
--indigo_50_00:#e3e6ff00; 
--blue_gray_900_01:#252547; 
--deep_orange_500:#ff6a2a; 
--deep_purple_A200:#8575ff; 
--purple_A200:#e323ff; 
--blue_gray_900:#252545; 
--black_900_02:#05050e; 
--white_A700_4c:#ffffff4c; 
--deep_purple_A700_4f:#2200f74f; 
--deep_purple_300_01:#957ae1; 
--blue_gray_500:#6a6a9f; 
--indigo_A100_01:#7d99ff; 
--indigo_200:#a1a3d4; 
--pink_500_09:#e20d9409; 
--indigo_A700:#0239ff; 
--indigo_900_01:#25245d; 
--deep_purple_A200_cc:#9352e5cc; 
--cyan_A200:#00ffe0; 
--blue_gray_50:#eef0fa; 
--light_blue_A400:#02c0fd; 
--blue_A700:#176bf8; 
--red_500_09:#ff2b2b09; 
--red_300:#fc717d; 
--light_green_A200:#89ff6c; 
--green_A200:#7bdda2; 
--gray_50:#fafafa; 
--deep_purple_300:#a46ce9; 
--blue_gray_800_02:#353560; 
--yellow_500:#fae634; 
--blue_gray_800_03:#44444f; 
--purple_A700:#9b1bfa; 
--deep_purple_A700_75:#2200f775; 
--purple_A700_02:#ae2aff; 
--amber_400:#ffd421; 
--blue_800:#0050c8; 
--blue_gray_600:#5a5a89; 
--gray_900:#171625; 
--purple_A700_01:#991bfa; 
--blue_gray_800_01:#313763; 
--teal_A200:#4dffde; 
--gray_100:#f1f1f5; 
--indigo_300:#7878b5; 
--deep_purple_A700_87:#2200f787; 
--deep_purple_A700_01:#7000ff; 
--deep_purple_A400_01:#7517f8; 
--blue_400:#4da1ff; 
--red_A200_cc:#ff505dcc; 
--purple_100:#e7a4ff; 
--yellow_A400_a2:#f9e000a2; 
--white_A700_90:#ffffff90; 
--deep_purple_400:#6b5dd2; 
--indigo_A100:#828fff; 
--black_900_3f:#0000003f; 
--blue_gray_500_01:#6a6a9d; 
--green_A700:#00b828; 
--blue_gray_500_87:#6a6a9f87; 
--indigo_A700_01:#3244e7; 
--indigo_400_90:#5d5dad90; 
--indigo_A700_02:#3247e5; 
--deep_orange_300:#ff9066; 
--deep_purple_A400:#4a0bff; 
--pink_300:#ff708b; 
--indigo_A200_54:#4d68ff54; 
--deep_purple_A700_0a:#840de20a; 
--orange_A200:#f8a243; 
--blue_gray_300:#9191c1; 
--pink_A200_01:#ff2ab7; 
--orange_A200_01:#ffa63e; 
--teal_A100:#94ffe9; 
--gray_100_01:#f0f2ff; 
--blue_300:#65c7ff; 
--white_A700:#ffffff; 
--indigo_800:#383874; 
--cyan_A400:#01f1e3; 
--indigo_A700_4c:#3247e64c; 
--indigo_800_0f:#2934950f; 
--red_500:#ff2d2e; 
--green_A400:#37f260; 
--green_400:#5dff5a; 
--pink_A200:#ff4e78; 
--black_900:#000000; 
--yellow_700:#ffc329; 
--blue_gray_800:#3d3d60; 
--deep_purple_A700:#2200f7; 
--deep_purple_A200_01:#695dfb; 
--blue_gray_50_01:#eef0f9; 
--gray_900_02:#181831; 
--black_900_2a:#0000002a; 
--deep_purple_A200_02:#9352e5; 
--gray_900_03:#16162b; 
--deep_purple_A200_03:#6c4eff; 
--gray_900_04:#111125; 
--blue_gray_400:#8383a0; 
--indigo_800_90:#38387490; 
--red_A100:#ff7e7e; 
--indigo_50:#ddddff; 
--gray_900_01:#13132a; 
--orange_700:#ff7d05; 
--gray_300:#dbdef1; 
--orange_300:#ffba69; 
--gray_300_02:#e3e3e3; 
--red_A200_a2:#ff505da2; 
--gray_300_01:#dbdff1; 
--teal_A400:#20dfb1; 
--white_A700_00:#ffffff00; 
--indigo_100:#b8b8dd; 
--deep_purple_500_05:#6c49ac05; 
--indigo_900:#170758; 
--indigo_500:#5756b3; 
}